:root {
    --green: #00FF00;
    --red: #FF0000;
    --blue: #0000FF;
    --light-blue: #3296FF;
    --yellow: #FFFF00;
    --grey: #333333;
    --dark-grey: #222222;
    --white: #FFFFFF;
    --black: #000000;
}

* {
    color: var(--fontColor);
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    margin: 0;
}

body {
    background: var(--bg)
}


/* design */

.dark-theme {
    --bg: var(--grey);
    --fontColor: var(--white);
    --btnBg: var(--white);
    --btnFontColor: var(--black);
}


/* aussehen der navbar */

.tab {
    width: 100%;
    background-color: #555;
    overflow: auto;
}


/* Navbar links */

.tab button {
    background-color: #333333;
    float: left;
    text-align: center;
    padding: 12px;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 17px;
}


/* mouse-over farbe */

.tab button:hover {
    background-color: #0000FF;
}


/* Farbe des topnav (angeklicktes Element) */

.tab button.active {
    background-color: #1283fc;
}


/* aussehen navcontent */

.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
    animation: fadeEffect 1s;
}

@keyframes fadeEffect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* passt sich der Breite des Bildschirms an und macht ab 500px topnav horizontal*/

@media screen and (max-width: 500px) {
    .tab.responsive {
        position: relative;
    }
    .tab.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .tab.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}


/* back buttonn*/

.back {
    background-color: #ff9900;
    float: left;
    text-align: center;
    padding: 12px;
    color: #000000;
    text-decoration: none;
    font-size: 17px;
    margin: 4px 2px;
    opacity: 1;
    transition: 0.3s;
    width: 100px;
    height: 40px;
}

.back:hover {
    opacity: 0.7;
}


/* banana game */

#bananaBackground {
    width: 500px;
    height: 500px;
    position: relative;
    top: 50px;
    background-color: #FF0000;
}

#bananaAnimation {
    width: 100px;
    height: 25px;
    position: relative;
    top: 475px;
    bottom: 0px;
    left: 0px;
    background: #00FF00;
}

#bananaAnimation2 {
    position: relative;
    top: 0px;
    left: 10px;
}

#bananapicture {
   
    position: relative;
    margin-right: 10pt;
    margin-left: 10pt;
    
}

#bananatext{
   
    position: relative;
    margin-left: 10pt;
    margin-right: 10pt;

    
}


/* start button */

.start {
    background-color: #FFFF00;
    float: left;
    text-align: center;
    padding: 10px;
    color: #000000;
    text-decoration: none;
    font-size: 12px;
    margin: 4px 2px;
    opacity: 1;
    transition: 0.3s;
}

.start:hover {
    opacity: 0.7;
}


/* game anfangsbutton */

.goGame {
    background-color: #FFFF00;
    float: left;
    text-align: center;
    padding: 12px;
    color: #000000;
    text-decoration: none;
    font-size: 17px;
    margin: 4px 2px;
    opacity: 1;
    transition: 0.3s;
}

.goGame:hover {
    opacity: 0.7;
}


/* click game */

.coolBackground {
    background: linear-gradient(-45deg, yellow, #3296FF, #ff9900, red);
	background-size: 400% 400%;
	animation:gradient 2s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.clickButton {
    padding: 30px 50px;
    font-size: 30px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #000000;
    background-color: #00FF00;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #666;
    left: 100px;
    top: 200px;
    position: absolute;
}

.clickButton:hover {
    background-color: #0000FF;
    color: #FFF;
}

.clickButton:active {
    background-color: #0000FF;
    box-shadow: 0 5px #555;
    transform: translateY(4px);
    color: #FFF;
}

.counter {
    color: #FFF;
    font-size: 40px;
    position: absolute;
    top: 300px;
    left: 50px;
}

.ClickBg {
    height: 70%;
    background-position: center;
    background-size: cover;
}

.clickElements {
    position: relative;
    text-align: center;
}

/* TicTacToe */

.win {
    color: #FFF;
    font-size: 20px;
    position: absolute;
    top: 150px;
    left: 150px;
}

.one {
    padding: 30px 30px;
    cursor: pointer;
    outline: none;
    color: #FFF;
    border: none;
    border-radius: 15px;
    left: 150px;
    top: 200px;
    position: absolute;
}

.two {
    padding: 30px 30px;
    cursor: pointer;
    outline: none;
    color: #FFF;
    border: none;
    border-radius: 15px;
    left: 220px;
    top: 200px;
    position: absolute;
}

.three {
    padding: 30px 30px;
    cursor: pointer;
    outline: none;
    color: #FFF;
    border: none;
    border-radius: 15px;
    left: 290px;
    top: 200px;
    position: absolute;
}

.four {
    padding: 30px 30px;
    cursor: pointer;
    outline: none;
    color: #FFF;
    border: none;
    border-radius: 15px;
    left: 150px;
    top: 270px;
    position: absolute;
}

.five {
    padding: 30px 30px;
    cursor: pointer;
    outline: none;
    color: #FFF;
    border: none;
    border-radius: 15px;
    left: 220px;
    top: 270px;
    position: absolute;
}

.six {
    padding: 30px 30px;
    cursor: pointer;
    outline: none;
    color: #FFF;
    border: none;
    border-radius: 15px;
    left: 290px;
    top: 270px;
    position: absolute;
}

.seven {
    padding: 30px 30px;
    cursor: pointer;
    outline: none;
    color: #FFF;
    border: none;
    border-radius: 15px;
    left: 150px;
    top: 340px;
    position: absolute;
}

.eight {
    padding: 30px 30px;
    cursor: pointer;
    outline: none;
    color: #FFF;
    border: none;
    border-radius: 15px;
    left: 220px;
    top: 340px;
    position: absolute;
}

.nine {
    padding: 30px 30px;
    cursor: pointer;
    outline: none;
    color: #000000;
    border: none;
    border-radius: 15px;
    left: 290px;
    top: 340px;
    position: absolute;
}

/* logo */
.logo {
    height: 20%; 
    width: 100%;
    float: left; 
    text-align: center; 
    margin-right: 10pt
}

/* to do liste*/
ul {
    margin: 0;
    padding: 0;
}

ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #666;
    font-size: 18px;
    transition: 0.2s;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

ul li:nth-child(odd) {
    background: #ff9900;
    color: #000000;
}
  
ul li:hover {
    background: #DDDD00;
    color:#000000
}

ul li.checked {
    background: #555;
    color: #000000;
    text-decoration: line-through;
}
  
ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #FF0000;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}
  
.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
}
  
.close:hover {
    background-color: #3296FF;
    color: #000000;
}
  
.header {
    background-color: #3296FF;
    padding: 30px 40px;
    color: #000000;
    text-align: center;
}
  
.header:after {
    content: "";
    display: table;
    clear: both;
}
  
input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
    color: #000000;
}
  
.addBtn {
    padding: 10px;
    width: 25%;
    background: #FFFF00;
    color: #333333;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
}
  
.addBtn:hover {
    background-color: #DDDD00;
}